<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__content">
                <div class="footer-top__left">
                    <a href="./" class="footer-top__logo">
                        <img loading="lazy" src="img/logo1.webp" alt="">
                    </a>
                    <div class="socials">
                        <a href="./">
                            <img loading="lazy" src="img/icons/vk.svg" alt="">
                            <span>В контакте</span>
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/dzen.svg" alt="">
                            <span>Дзен</span>
                        </a>
                    </div>
                    <div class="footer-top__payments">
                        <div class="footer-top__title">
                            Принимаем к оплате
                        </div>
                        <div class="footer-top__columns">
                            <div class="footer-top__payment">
                                <img src="img/icons/payment1.svg" alt="">
                            </div>
                            <div class="footer-top__payment">
                                <img src="img/icons/payment2.svg" alt="">
                            </div>
                            <div class="footer-top__payment">
                                <img src="img/icons/payment3.svg" alt="">
                            </div>
                            <div class="footer-top__payment">
                                <img src="img/icons/payment4.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-top__details">
                    <div class="footer-top__title">
                        Наши реквизиты
                    </div>
                    <ul>
                        <li>
                            <div class="footer-top__name">
                                ИП:
                            </div>
                            <span></span>
                            <div class="footer-top__value">
                                Антонов Александр Сергеевич
                            </div>
                        </li>
                        <li>
                            <div class="footer-top__name">
                                ИНН:
                            </div>
                            <span></span>
                            <div class="footer-top__value">
                                771873667915
                            </div>
                        </li>
                        <li>
                            <div class="footer-top__name">
                                ОГРНИП:
                            </div>
                            <span></span>
                            <div class="footer-top__value">
                                321774600425927
                            </div>
                        </li>
                        <li>
                            <div class="footer-top__name">
                                Р/С:
                            </div>
                            <span></span>
                            <div class="footer-top__value">
                                40802810402310001073 ПАО Банк
                                «ВТБ»
                            </div>
                        </li>
                        <li>
                            <div class="footer-top__name">
                                К/С:
                            </div>
                            <span></span>
                            <div class="footer-top__value">
                                30101810145250000411
                            </div>
                        </li>
                        <li>
                            <div class="footer-top__name">
                                БИК:
                            </div>
                            <span></span>
                            <div class="footer-top__value">
                                044525411
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__contacts">
                    <div class="footer-top__title">
                        Контакты
                    </div>
                    <div class="footer-top__body">
                        <div class="footer-top__column">
                            <div class="footer-top__icon">
                                <svg aria-hidden="true" width="16" height="16">
                                    <use xlink:href="img/sprite.svg#phone"></use>
                                </svg>
                            </div>
                            <a href="tel:74993901138" class="footer-top__text footer-phone">
                                <span>+7 (499) 390-11-38</span>
                            </a>
                        </div>
                        <div class="footer-top__column">
                            <div class="footer-top__icon">
                                <svg aria-hidden="true" width="17" height="14">
                                    <use xlink:href="img/sprite.svg#mail"></use>
                                </svg>
                            </div>
                            <a href="tel:kupemoskva@yandex.ru" class="footer-top__text">
                                <span>kupemoskva@yandex.ru</span>
                            </a>
                        </div>
                        <div class="footer-top__column">
                            <div class="footer-top__icon">
                                <svg aria-hidden="true" width="15" height="18">
                                    <use xlink:href="img/sprite.svg#location"></use>
                                </svg>
                            </div>
                            <div class="footer-top__text">
                                <span>Москва, бульвар Энтузиастов, 2</span> БЦ Golden Gate 5 мин. от станции метро
                                Римская
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <img loading="lazy" src="img/bg1.webp" alt="" class="footer-bottom__bg">
        <div class="container">
            <div class="footer-bottom__content">
                <div class="footer-bottom__copy">
                    © 2026 «Купемосква» Все права защищены
                </div>
                <div class="footer-bottom__text">
                    Разработка сайта: <a href="./">miridea.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>