<!--
<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header-top">
                <div class="header-top__left">
                    <a href="./" class="header-top__logo">
                        <img src="img/logo1.webp" alt="">
                    </a>
                    <div class="header-call">
                        <img src="img/image1.webp" alt="" class="header-call__pic1">
                        <div class="header-call__item">
                            <div class="header-call__title">
                                Вызвать замерщика
                            </div>
                            <span>бесплатно</span>
                        </div>
                    </div>
                </div>
                <div class="header-top__right">
                    <div class="header-top__contacts">
                        <a href="tel:74993901138" class="header-top__phone">
                            +7 (499) 390-11-38
                        </a>
                        <span>Ежедневно с 09:00 до 21:00</span>
                    </div>
                    <a href="./" class="btn">
                        <span>Заказать звонок</span>
                    </a>
                </div>
            </div>
            <div class="header-menu">
                <ul>
                    <li>
                        <a href="./">Наши работы</a>
                    </li>
                    <li>
                        <a href="./">Материалы</a>
                    </li>
                    <li>
                        <a href="./">Производство</a>
                    </li>
                    <li>
                        <a href="./">Как мы работаем</a>
                    </li>
                    <li>
                        <a href="./">Отзывы</a>
                    </li>
                    <li>
                        <a href="./">Гарантии</a>
                    </li>
                    <li>
                        <a href="./">Вопрос-ответ</a>
                    </li>
                    <li>
                        <a href="./">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>-->