<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro">
                <img src="img/bg1.webp" alt="" class="block-intro__bg1">
                <div class="block-intro__image">
                    <img src="img/image2.webp" alt="">
                </div>
                <div class="container">
                    <div class="block-intro__body">
                        <div class="block-intro__top">
                            <div class="block-intro__badge">
                                С выгодой до 30% до конца недели!
                            </div>
                            <div class="block-intro__location">
                                <div class="block-intro__location-icon">
                                    <svg aria-hidden="true" width="15" height="18">
                                        <use xlink:href="img/sprite.svg#location"></use>
                                    </svg>
                                </div>
                                <span>В москве</span>
                            </div>
                        </div>
                        <div class="block-intro__title">
                            <h1 class="title1">
                                Шкафы-купе на заказ
                            </h1>
                            <div class="block-intro__text">
                                <div class="block-intro__text-icon">
                                    <svg aria-hidden="true" width="26" height="26">
                                        <use xlink:href="img/sprite.svg#icon"></use>
                                    </svg>
                                </div>
                                <span>напрямую
                                    от производителя <strong>за 10 дней</strong></span>
                            </div>
                        </div>
                        <div class="block-text">
                            <div class="block-text">
                                <div class="block-text__icon">
                                    <svg aria-hidden="true" width="30" height="27">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                </div>
                                <p>
                                    Бесплатный выезд дизайнера-замерщика с каталогом материалов и создание 3D-проекта у
                                    вас дома
                                </p>
                            </div>
                        </div>
                        <div class="block-intro__buttons">
                            <a href="./" data-popup="#calculate" class="btn btn-green">
                                <span>Рассчитать стоимость</span>
                            </a>
                            <a href="./" data-popup="#call-surveyor" class="btn btn-yellow">
                                <span>Вызвать замерщика</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-benefits">
                <div class="container">
                    <div class="block-benefits__body">
                        <div class="block-benefits__column">
                            <div class="block-benefits__image">
                                <img src="img/image3.webp" alt="">
                            </div>
                            <div class="block-benefits__title">
                                Гарантия
                                <span>5 лет</span>
                            </div>
                        </div>
                        <div class="block-benefits__column">
                            <div class="block-benefits__image">
                                <img src="img/image4.webp" alt="">
                            </div>
                            <div class="block-benefits__title">
                                Рейтинг Яндекса
                                <span>4.9</span>
                            </div>
                        </div>
                        <div class="block-benefits__column">
                            <div class="block-benefits__image">
                                <img src="img/image5.webp" alt="">
                            </div>
                            <div class="block-benefits__title">
                                Собственное <span>производство</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-quiz block1">
                <div class="container">
                    <div class="block-quiz__contents">
                        <img src="img/image6.webp" alt="" class="block-quiz__pic1">
                        <img src="img/image7.webp" alt="" class="block-quiz__pic2">
                        <div class="block-quiz__content">
                            <div class="block-quiz__top">
                                <h2 class="title3">
                                    <span>Ответьте</span> на 4 вопроса
                                </h2>
                                <div class="block-quiz__text">
                                    чтобы узнать точную стоимость вашего шкафа и <span>получить подарок:</span>
                                </div>
                                <div class="block-quiz__lists">
                                    <div class="block-text">
                                        <div class="block-text__icon">
                                            <svg aria-hidden="true" width="30" height="27">
                                                <use xlink:href="img/sprite.svg#check1"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Скидка 10 000 руб
                                        </p>
                                    </div>
                                    <div class="block-text">
                                        <div class="block-text__icon">
                                            <svg aria-hidden="true" width="30" height="27">
                                                <use xlink:href="img/sprite.svg#check1"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Бесплатная сборка или доводчики
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <form action="send-quiz.php" data-ajax class="block-quiz__steps">
                                <div class="block-quiz__step step1">
                                    <div class="block-quiz__question">
                                        <div class="block-quiz__number">1</div>
                                        <span>Где будет шкаф?</span>
                                    </div>
                                    <div class="block-quiz__body">
                                        <div class="block-quiz__left">
                                            <div class="options">
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" checked
                                                        type="radio" value="Гостиная" name="location">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Гостиная</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="Прихожая" name="location">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Прихожая</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="Коридор" name="location">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Коридор</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="Детская" name="location">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Детская</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="Спальня" name="location">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Спальня</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="Зал" name="location">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Зал</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="Гардеробная" name="location">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Гардеробная</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="Веранда" name="location">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Веранда</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="block-quiz__buttons">
                                            <button type="button" class="btn btn-quiz-next">Далее</button>
                                        </div>
                                    </div>
                                </div>

                                <div style="display: none;" class="block-quiz__step step2">
                                    <div class="block-quiz__question">
                                        <div class="block-quiz__number">2</div>
                                        <span>Примерные размеры?</span>
                                    </div>
                                    <div class="block-quiz__body">
                                        <div class="block-quiz__left">
                                            <div class="form__input">
                                                <input data-required autocomplete="off" type="text" name="size"
                                                    placeholder="Введите размер в мм (прим. 124х90х90)"
                                                    class="input size">
                                            </div>
                                        </div>
                                        <div class="block-quiz__buttons">
                                            <button type="button" class="btn btn-green btn-quiz-prev">Назад</button>
                                            <button type="button" class="btn btn-quiz-next">Далее</button>
                                        </div>
                                    </div>
                                </div>

                                <div style="display: none;" class="block-quiz__step step3">
                                    <div class="block-quiz__question">
                                        <div class="block-quiz__number">3</div>
                                        <span>Какие фасады нравятся?</span>
                                    </div>
                                    <div class="block-quiz__body">
                                        <div class="block-quiz__left">
                                            <div class="options">
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" checked
                                                        type="radio" value="Зеркало" name="facade">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Зеркало</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="МДФ" name="facade">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">МДФ</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="ЛДСП" name="facade">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">ЛДСП</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="ДСП" name="facade">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">ДСП</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="Матовый" name="facade">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Матовый</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="Глянец" name="facade">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Глянец</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="Стекло" name="facade">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Стекло</span>
                                                    </span>
                                                </label>
                                                <label class="options__item">
                                                    <input hidden data-required class="options__input" type="radio"
                                                        value="Пластик" name="facade">
                                                    <span class="options__label">
                                                        <div class="options__icon"></div>
                                                        <span class="options__text">Пластик</span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="block-quiz__buttons">
                                            <button type="button" class="btn btn-green btn-quiz-prev">Назад</button>
                                            <button type="button" class="btn btn-quiz-next">Далее</button>
                                        </div>
                                    </div>
                                </div>

                                <div style="display: none;" class="block-quiz__step step4">
                                    <div class="block-quiz__question">
                                        <div class="block-quiz__number">4</div>
                                        <span>Куда прислать расчет и закрепить подарок?</span>
                                    </div>
                                    <div class="block-quiz__body">
                                        <div class="block-quiz__left">
                                            <div class="form__inputs">
                                                <div class="form__input">
                                                    <input data-required autocomplete="off" type="text" name="telegram"
                                                        placeholder="Telegram" class="input">
                                                    <div class="form__icon">
                                                        <img loading="lazy" src="img/icons/tg.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="form__input">
                                                    <input data-required autocomplete="off" type="text" name="max_name"
                                                        placeholder="Max" class="input">
                                                    <div class="form__icon">
                                                        <img loading="lazy" src="img/icons/max.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="form__input">
                                                    <input data-required autocomplete="off" type="text" name="phone"
                                                        placeholder="Телефон" class="input telephone">
                                                    <div class="form__icon">
                                                        <svg aria-hidden="true" width="12" height="12">
                                                            <use xlink:href="img/sprite.svg#phone"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-quiz__buttons">
                                            <button type="button" class="btn btn-green btn-quiz-prev">Назад</button>
                                            <button type="submit" class="btn">Отправить</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div style="display: none;" class="block-quiz__send">
                                <div class="block-quiz__item">
                                    <div class="block-quiz__icon">
                                        <svg aria-hidden="true" width="30" height="27">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </div>
                                    <span>Расчет отправлен</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-watch="navigator" class="block-works">
                <div class="container">
                    <div class="block-works__content">
                        <div class="block-works__heading-complex">
                            <h2 class="title2">
                                Наши работы
                            </h2>
                            <div class="block-text">
                                <div class="block-text__icon">
                                    <svg aria-hidden="true" width="30" height="27">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                </div>
                                <p>
                                    Реальная мебель в реальных квартирах москвичей
                                </p>
                            </div>
                        </div>
                        <div class="block-works__cards">
                            <div class="card-product">
                                <div class="card-product__image">
                                    <img loading="lazy" src="img/products/image3.webp" alt="">
                                    <div class="card-product__price">
                                        0 р
                                    </div>
                                </div>
                                <div class="card-product__item">
                                    <div class="card-product__title">
                                        Встроенный прямой Шкаф-купе
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-product__name">Материал</div>
                                            <span></span>
                                            <div class="card-product__value">ЛДСП Egger</div>
                                        </li>
                                        <li>
                                            <div class="card-product__name">Cрок производства</div>
                                            <span></span>
                                            <div class="card-product__value">12 дней</div>
                                        </li>
                                    </ul>
                                    <a href="./" data-popup="#call" class="btn btn-green">
                                        <span>Хочу такой же</span>
                                    </a>
                                    <div class="card-product__bottom">
                                        <div class="card-product__text1">
                                            <svg aria-hidden="true" width="19" height="17">
                                                <use xlink:href="img/sprite.svg#gift"></use>
                                            </svg>
                                            <span>Замер, доставка и проект</span>
                                        </div>
                                        <div class="card-product__text2">
                                            Бесплатно
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-product">
                                <div class="card-product__image">
                                    <img loading="lazy" src="img/products/image4.webp" alt="">
                                    <div class="card-product__price">
                                        0 р
                                    </div>
                                </div>
                                <div class="card-product__item">
                                    <div class="card-product__title">
                                        Корпусный прямой Шкаф-купе
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-product__name">Материал</div>
                                            <span></span>
                                            <div class="card-product__value">ЛДСП Egger</div>
                                        </li>
                                        <li>
                                            <div class="card-product__name">Cрок производства</div>
                                            <span></span>
                                            <div class="card-product__value">12 дней</div>
                                        </li>
                                    </ul>
                                    <a href="./" data-popup="#call" class="btn btn-green">
                                        <span>Хочу такой же</span>
                                    </a>
                                    <div class="card-product__bottom">
                                        <div class="card-product__text1">
                                            <svg aria-hidden="true" width="19" height="17">
                                                <use xlink:href="img/sprite.svg#gift"></use>
                                            </svg>
                                            <span>Замер, доставка и проект</span>
                                        </div>
                                        <div class="card-product__text2">
                                            Бесплатно
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-product">
                                <div class="card-product__image">
                                    <img loading="lazy" src="img/products/image5.webp" alt="">
                                    <div class="card-product__price">
                                        0 р
                                    </div>
                                </div>
                                <div class="card-product__item">
                                    <div class="card-product__title">
                                        Встроенный прямой Шкаф-купе
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-product__name">Материал</div>
                                            <span></span>
                                            <div class="card-product__value">ЛДСП Egger</div>
                                        </li>
                                        <li>
                                            <div class="card-product__name">Cрок производства</div>
                                            <span></span>
                                            <div class="card-product__value">12 дней</div>
                                        </li>
                                    </ul>
                                    <a href="./" data-popup="#call" class="btn btn-green">
                                        <span>Хочу такой же</span>
                                    </a>
                                    <div class="card-product__bottom">
                                        <div class="card-product__text1">
                                            <svg aria-hidden="true" width="19" height="17">
                                                <use xlink:href="img/sprite.svg#gift"></use>
                                            </svg>
                                            <span>Замер, доставка и проект</span>
                                        </div>
                                        <div class="card-product__text2">
                                            Бесплатно
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-product">
                                <div class="card-product__image">
                                    <img loading="lazy" src="img/products/image6.webp" alt="">
                                    <div class="card-product__price">
                                        0 р
                                    </div>
                                </div>
                                <div class="card-product__item">
                                    <div class="card-product__title">
                                        П образная Гардеробная/Шкаф с Дверьми-Купе
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-product__name">Материал</div>
                                            <span></span>
                                            <div class="card-product__value">ЛДСП Egger</div>
                                        </li>
                                        <li>
                                            <div class="card-product__name">Cрок производства</div>
                                            <span></span>
                                            <div class="card-product__value">12 дней</div>
                                        </li>
                                    </ul>
                                    <a href="./" data-popup="#call" class="btn btn-green">
                                        <span>Хочу такой же</span>
                                    </a>
                                    <div class="card-product__bottom">
                                        <div class="card-product__text1">
                                            <svg aria-hidden="true" width="19" height="17">
                                                <use xlink:href="img/sprite.svg#gift"></use>
                                            </svg>
                                            <span>Замер, доставка и проект</span>
                                        </div>
                                        <div class="card-product__text2">
                                            Бесплатно
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-product">
                                <div class="card-product__image">
                                    <img loading="lazy" src="img/products/image7.webp" alt="">
                                    <div class="card-product__price">
                                        0 р
                                    </div>
                                </div>
                                <div class="card-product__item">
                                    <div class="card-product__title">
                                        П образная Гардеробная/Шкаф с Дверьми-Купе
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-product__name">Материал</div>
                                            <span></span>
                                            <div class="card-product__value">ЛДСП Egger</div>
                                        </li>
                                        <li>
                                            <div class="card-product__name">Cрок производства</div>
                                            <span></span>
                                            <div class="card-product__value">12 дней</div>
                                        </li>
                                    </ul>
                                    <a href="./" data-popup="#call" class="btn btn-green">
                                        <span>Хочу такой же</span>
                                    </a>
                                    <div class="card-product__bottom">
                                        <div class="card-product__text1">
                                            <svg aria-hidden="true" width="19" height="17">
                                                <use xlink:href="img/sprite.svg#gift"></use>
                                            </svg>
                                            <span>Замер, доставка и проект</span>
                                        </div>
                                        <div class="card-product__text2">
                                            Бесплатно
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-product">
                                <div class="card-product__image">
                                    <img loading="lazy" src="img/products/image8.webp" alt="">
                                    <div class="card-product__price">
                                        0 р
                                    </div>
                                </div>
                                <div class="card-product__item">
                                    <div class="card-product__title">
                                        Встроенный прямой Шкаф-купе
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-product__name">Материал</div>
                                            <span></span>
                                            <div class="card-product__value">ЛДСП Egger</div>
                                        </li>
                                        <li>
                                            <div class="card-product__name">Cрок производства</div>
                                            <span></span>
                                            <div class="card-product__value">12 дней</div>
                                        </li>
                                    </ul>
                                    <a href="./" data-popup="#call" class="btn btn-green">
                                        <span>Хочу такой же</span>
                                    </a>
                                    <div class="card-product__bottom">
                                        <div class="card-product__text1">
                                            <svg aria-hidden="true" width="19" height="17">
                                                <use xlink:href="img/sprite.svg#gift"></use>
                                            </svg>
                                            <span>Замер, доставка и проект</span>
                                        </div>
                                        <div class="card-product__text2">
                                            Бесплатно
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms block-forms1">
                <div class="container">
                    <div class="block-forms__content">
                        <img loading="lazy" src="img/image8.webp" alt="" class="block-forms__pic1">
                        <h2 class="title3">
                            Уже считали шкаф в другой компании <span>?</span>
                        </h2>
                        <div class="block-text">
                            <div class="block-text__icon">
                                <svg aria-hidden="true" width="30" height="27">
                                    <use xlink:href="img/sprite.svg#check1"></use>
                                </svg>
                            </div>
                            <p>
                                Прикрепите эскиз или смету от конкурентов. За счет отсутствия салонов-посредников и
                                собственного производства мы предложим цену на 5-10% ниже без потери качества!
                            </p>
                        </div>
                        <form data-popup-message="#thanks" method="POST" action="send-estimate.php" data-ajax
                            class="form">
                            <div class="form__inputs">
                                <div class="form__input">
                                    <select name="select" class="select" data-editable>
                                        <option data-icon="img/icons/tg.svg" value="Telegram" data-value="Telegram"
                                            selected>Ваш Telegram
                                        </option>
                                        <option data-icon="img/icons/max.svg" value="Max" data-value="Max">Ваш Max
                                        </option>
                                        <option data-icon="svg-phone" value="Телефон" data-value="Телефон">Телефон
                                        </option>
                                    </select>
                                </div>
                                <button type="submit" class="btn">Прикрепить смету</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div data-watch="navigator" class="block-descr1">
                <div class="container">
                    <div class="block-descr1__content">
                        <h2 class="title2">
                            Используем только <span>экологичные материалы</span> и надежную фурнитуру
                        </h2>
                        <div class="block-descr1__center">
                            <div class="block-text">
                                <div class="block-text__icon">
                                    <svg aria-hidden="true" width="30" height="27">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                </div>
                                <p>
                                    Наши шкафы выдерживают 100 000
                                    открываний, а материалы безопасны для детских комнат <span>(класс эмиссии Е1)</span>
                                </p>
                            </div>
                            <div class="block-descr1__body">
                                <div class="block-descr1__column">
                                    <div class="block-descr1__image">
                                        <img loading="lazy" src="img/image9.webp" alt="">
                                    </div>
                                    <span>профили не гнутся</span>
                                </div>
                                <div class="block-descr1__column">
                                    <div class="block-descr1__image">
                                        <img loading="lazy" src="img/image10.webp" alt="">
                                    </div>
                                    <span>бесшумные
                                        ролики</span>
                                </div>
                            </div>
                        </div>
                        <div class="block-descr1__brands">
                            <div class="block-descr1__brand">
                                <img loading="lazy" src="img/brands/image1.webp" alt="">
                            </div>
                            <div class="block-descr1__brand">
                                <img loading="lazy" src="img/brands/image2.webp" alt="">
                            </div>
                            <div class="block-descr1__brand">
                                <img loading="lazy" src="img/brands/image3.webp" alt="">
                            </div>
                            <div class="block-descr1__brand">
                                <img loading="lazy" src="img/brands/image4.webp" alt="">
                            </div>
                            <div class="block-descr1__brand">
                                <img loading="lazy" src="img/brands/image5.webp" alt="">
                            </div>
                            <div class="block-descr1__brand">
                                <img loading="lazy" src="img/brands/image6.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-watch="navigator" class="block-descr2 block1">
                <div class="block-descr2__content">
                    <a href="files/video.mp4" data-fancybox="video2" class="block-descr2__video">
                        <img loading="lazy" src="img/products/image2.webp" alt="" class="block-descr2__pic1">
                        <div class="play">
                            <svg aria-hidden="true" width="28" height="38">
                                <use xlink:href="img/sprite.svg#play"></use>
                            </svg>
                        </div>
                    </a>
                    <div class="block-descr2__body">
                        <div class="block-descr2__item">
                            <h2 class="title3">
                                Почему наши цены ниже салонных?
                                <span>Мы — производители!</span>
                            </h2>
                            <div class="block-text">
                                <div class="block-text__icon">
                                    <svg aria-hidden="true" width="30" height="27">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                </div>
                                <p>
                                    Мы контролируем процесс от распила до финальной сборки. Вы не переплачиваете
                                    менеджерам в торговых центрах
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-watch="navigator" class="block-steps">
                <div class="container">
                    <div class="block-steps__content">
                        <h2 class="title2">
                            Как мы работаем
                        </h2>
                        <div class="block-steps__body">
                            <div class="block-steps__column">
                                <img loading="lazy" src="img/bg1.webp" alt="" class="block-steps__bg">
                                <div class="block-steps__number">
                                    <span>Этап 1</span>
                                </div>
                                <img loading="lazy" src="img/image11.webp" alt="" class="block-steps__pic pic1">
                                <div class="block-steps__items">
                                    <div class="block-steps__item">
                                        <div class="block-steps__line"></div>
                                        <div class="block-steps__title">
                                            Заявка и предварительный расчет
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-steps__column">
                                <img loading="lazy" src="img/bg1.webp" alt="" class="block-steps__bg">
                                <div class="block-steps__number">
                                    <span>Этап 2</span>
                                </div>
                                <img loading="lazy" src="img/image12.webp" alt="" class="block-steps__pic pic2">
                                <div class="block-steps__items">
                                    <div class="block-steps__item">
                                        <div class="block-steps__line"></div>
                                        <div class="block-steps__title">
                                            Бесплатный выезд дизайнерана замер с образцами. Рисуем 3D макет
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-steps__column">
                                <img loading="lazy" src="img/bg1.webp" alt="" class="block-steps__bg">
                                <div class="block-steps__number">
                                    <span>Этап 3</span>
                                </div>
                                <img loading="lazy" src="img/image15.webp" alt="" class="block-steps__pic pic3">
                                <div class="block-steps__items">
                                    <div class="block-steps__item">
                                        <div class="block-steps__line"></div>
                                        <div class="block-steps__title">
                                            Изготовление на фабрике (от 7 дней)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-steps__column">
                                <img loading="lazy" src="img/bg1.webp" alt="" class="block-steps__bg">
                                <div class="block-steps__number">
                                    <span>Этап 4</span>
                                </div>
                                <img loading="lazy" src="img/image16.webp" alt="" class="block-steps__pic pic4">
                                <div class="block-steps__items">
                                    <div class="block-steps__item">
                                        <div class="block-steps__line"></div>
                                        <div class="block-steps__title">
                                            Доставка и аккуратная сборка за 1 день. Мусор убираем за собой!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-catalog block1">
                <div class="container">
                    <div class="block-catalog__content">
                        <div class="block-catalog__image">
                            <img loading="lazy" src="img/bg3.webp" alt="" class="block-catalog__bg">
                            <img loading="lazy" src="img/image14.webp" alt="" class="block-catalog__pic1">
                        </div>
                        <div class="block-catalog__body">
                            <h2 class="title3">
                                Еще не определились с дизайном?
                            </h2>
                            <div class="block-text">
                                <div class="block-text__icon">
                                    <svg aria-hidden="true" width="30" height="27">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                </div>
                                <p>
                                    Скачайте каталог из 100+ самых актуальных решений для шкафов-купе в 2026 году с
                                    ценами
                                </p>
                            </div>
                            <a href="./" download="#download" class="btn btn-green">
                                <span>Скачать каталог</span>
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#upload"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div data-watch="navigator" class="block-reviews block1">
                <div class="container">
                    <div class="block-reviews__contents">
                        <h2 class="title2">
                            Отзывы о нас
                        </h2>
                        <div class="block-reviews__content">
                            <!--
								<div class="block-reviews__navigation">
									<button type="button" data-filter="all" class="block-reviews__title active">
										<span>Все отзывы</span>
									</button>
									<button type="button" data-filter="yandex-map" class="block-reviews__title">
										<img loading="lazy" src="img/icons/map.svg" alt="">
										<span>Яндекс карта</span>
									</button>
									
									<button type="button" data-filter="video-reviews" class="block-reviews__title">
										<img loading="lazy" src="img/icons/play2.svg" alt="">
										<span>Видео-отзывы</span>
									</button>
									<button type="button" data-filter="avito" class="block-reviews__title">
										<img loading="lazy" src="img/icons/avito.svg" alt="">
										<span>Авито</span>
									</button>
									<button type="button" data-filter="otzovik" class="block-reviews__title">
										<img loading="lazy" src="img/icons/otzovik.svg" alt="">
										<span>Отзовик</span>
									</button>
								</div>-->
                            <div class="block-reviews__body">
                                <div class="block-reviews__slider swiper">
                                    <div class="block-reviews__wrapper swiper-wrapper">
                                        <div class="block-reviews__slide swiper-slide">
                                            <a href="img/review1.webp" data-fancybox="gallery1">
                                                <img loading="lazy" src="img/review1.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__logo">
                                                    <img loading="lazy" src="img/icons/map.svg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="block-reviews__slide swiper-slide">
                                            <a href="img/review2.webp" data-fancybox="gallery1">
                                                <img loading="lazy" src="img/review2.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__logo">
                                                    <img loading="lazy" src="img/icons/map.svg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="block-reviews__slide swiper-slide">
                                            <a href="img/review3.webp" data-fancybox="gallery1">
                                                <img loading="lazy" src="img/review3.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__logo">
                                                    <img loading="lazy" src="img/icons/map.svg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="block-reviews__slide swiper-slide">
                                            <a href="img/review4.webp" data-fancybox="gallery1">
                                                <img loading="lazy" src="img/review4.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__logo">
                                                    <img loading="lazy" src="img/icons/map.svg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="block-reviews__slide swiper-slide">
                                            <a href="img/review5.webp" data-fancybox="gallery1">
                                                <img loading="lazy" src="img/review5.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__logo">
                                                    <img loading="lazy" src="img/icons/map.svg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="block-reviews__slide swiper-slide">
                                            <a href="img/review6.webp" data-fancybox="gallery1">
                                                <img loading="lazy" src="img/review6.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__logo">
                                                    <img loading="lazy" src="img/icons/map.svg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="block-reviews__slide swiper-slide">
                                            <a href="img/review7.webp" data-fancybox="gallery1">
                                                <img loading="lazy" src="img/review7.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__logo">
                                                    <img loading="lazy" src="img/icons/map.svg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="block-reviews__slide swiper-slide">
                                            <a href="img/review8.webp" data-fancybox="gallery1">
                                                <img loading="lazy" src="img/review8.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__logo">
                                                    <img loading="lazy" src="img/icons/map.svg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="block-reviews__slide swiper-slide">
                                            <a href="img/review9.webp" data-fancybox="gallery1">
                                                <img loading="lazy" src="img/review9.webp" alt=""
                                                    class="block-reviews__pic1">
                                                <div class="block-reviews__logo">
                                                    <img loading="lazy" src="img/icons/map.svg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!--
											<div data-filter="video-reviews" class="block-reviews__slide swiper-slide slide-bg">
												<a href="files/video.mp4" data-fancybox="video1">
													<img loading="lazy" src="img/products/image1.webp" alt="" class="block-reviews__pic1">
													<div class="play">
														<svg aria-hidden="true" width="20" height="27">
															<use xlink:href="img/sprite.svg#play"></use>
														</svg>
													</div>
												</a>
											</div>
											<div data-filter="yandex-map" class="block-reviews__slide swiper-slide">
												<a href="img/review1.webp" data-fancybox="gallery1">
													<img loading="lazy" src="img/review1.webp" alt="" class="block-reviews__pic1">
													<div class="block-reviews__logo">
														<img loading="lazy" src="img/icons/map.svg" alt="">
													</div>
												</a>
											</div>
											<div data-filter="avito" class="block-reviews__slide swiper-slide">
												<a href="img/review2.webp" data-fancybox="gallery2">
													<img loading="lazy" src="img/review2.webp" alt="" class="block-reviews__pic1">
													<div class="block-reviews__logo">
														<img loading="lazy" src="img/icons/avito.svg" alt="">
													</div>
												</a>
											</div>
											<div data-filter="otzovik" class="block-reviews__slide swiper-slide">
												<a href="img/review1.webp" data-fancybox="gallery3">
													<img loading="lazy" src="img/review1.webp" alt="" class="block-reviews__pic1">
													<div class="block-reviews__logo">
														<img loading="lazy" src="img/icons/otzovik.svg" alt="">
													</div>
												</a>
											</div>-->
                                </div>
                            </div>
                            <div class="block-reviews__arrows">
                                <div class="block-reviews__arrow-prev arrow-prev">
                                    <svg aria-hidden="true" width="12" height="20">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </div>
                                <div class="block-reviews__arrow-next arrow-next">
                                    <svg aria-hidden="true" width="12" height="20">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-watch="navigator" class="block-guarantee block1">
                <div class="container">
                    <div class="block-guarantee__content">
                        <h2 class="title2">
                            Гарантии
                        </h2>
                        <div class="block-guarantee__body">
                            <div class="block-guarantee__column">
                                <div class="block-guarantee__image">
                                    <div class="block-guarantee__number">1</div>
                                    <img loading="lazy" src="img/guarantee1.webp" alt="">
                                </div>
                                <div class="block-guarantee__title">
                                    Прописываем<br> сроки в <span>договоре</span>
                                </div>
                            </div>
                            <div class="block-guarantee__column">
                                <div class="block-guarantee__image">
                                    <div class="block-guarantee__number">2</div>
                                    <img loading="lazy" src="img/guarantee2.webp" alt="">
                                </div>
                                <div class="block-guarantee__title">
                                    Платим штраф<br> за каждый день <span>просрочки</span>
                                </div>
                            </div>
                            <div class="block-guarantee__column">
                                <div class="block-guarantee__image">
                                    <div class="block-guarantee__number">3</div>
                                    <img loading="lazy" src="img/guarantee3.webp" alt="">
                                </div>
                                <div class="block-guarantee__title">
                                    Гарантия на мебель<br> <span>— 3-5 лет</span>
                                </div>
                            </div>
                            <div class="block-guarantee__column">
                                <div class="block-guarantee__image">
                                    <div class="block-guarantee__number">4</div>
                                    <img loading="lazy" src="img/guarantee4.webp" alt="">
                                </div>
                                <div class="block-guarantee__title">
                                    Бесплатное сервисное обслуживание регулировки дверей <span>в первый год</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-watch="navigator" class="block-questions">
                <img loading="lazy" src="img/bg2.webp" alt="" class="block-questions__bg">
                <div class="container">
                    <div class="block-questions__content">
                        <h2 class="title2">
                            Частые вопросы
                        </h2>
                        <div class="block-questions__body">
                            <div class="block-questions__columns">
                                <div class="block-questions__column">
                                    <div class="block-questions__number">
                                        1
                                    </div>
                                    <div class="block-questions__item">
                                        <div class="block-questions__title">
                                            А можно ли в рассрочку?
                                        </div>
                                        <p>
                                            Нет, мы также делаем на заказ гардеробные,
                                            прихожие, столы, комоды, стенки, кухни, мебель
                                            для ванной на заказ.
                                        </p>
                                    </div>
                                </div>
                                <div class="block-questions__column">
                                    <div class="block-questions__number">
                                        2
                                    </div>
                                    <div class="block-questions__item">
                                        <div class="block-questions__title">
                                            Сколько длится сборка?
                                        </div>
                                        <p>
                                            Нет, выезд замерщика в Москве и МО
                                            (до 10 км) бесплатный.
                                        </p>
                                    </div>
                                </div>
                                <div class="block-questions__column">
                                    <div class="block-questions__number">
                                        3
                                    </div>
                                    <div class="block-questions__item">
                                        <div class="block-questions__title">
                                            Как подготовить помещение?
                                        </div>
                                        <p>
                                            Мы стараемся изготовить мебель, как можно скорее
                                            и всегда делаем вовремя. Стандартный срок
                                            изготовления 10 рабочих дней.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-questions__image">
                                <img loading="lazy" src="img/image13.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms">
                <div class="container">
                    <div class="block-forms__content">
                        <h2 class="title3">
                            Остались вопросы <span>?</span>
                        </h2>
                        <form data-popup-message="#thanks" method="POST" action="sendmail.php" data-ajax class="form">
                            <div class="form__inputs">
                                <div class="form__input">
                                    <input data-required autocomplete="off" type="text" name="name"
                                        placeholder="Ваше имя" class="input">
                                    <div class="form__icon">
                                        <svg aria-hidden="true" width="11" height="12">
                                            <use xlink:href="img/sprite.svg#user"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="form__input">
                                    <input data-required autocomplete="off" type="text" name="phone"
                                        placeholder="Номер телефона" class="input telephone">
                                    <div class="form__icon">
                                        <svg aria-hidden="true" width="12" height="12">
                                            <use xlink:href="img/sprite.svg#phone"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="form__buttons">
                                <button type="submit" class="btn">Задать вопрос</button>
                                <div class="form__text">
                                    Нажимая на кнопку “Задать вопрос” вы соглашаетесь с <a href="./">политикой
                                        конфиденциальности</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="fixed-socials">
                <a target="_blank" href="./">
                    <img src="img/icons/tg.svg" alt="">
                </a>
                <a target="_blank" href="./">
                    <img src="img/icons/wh.svg" alt="">
                </a>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>