.arrow-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translate(0px, -50%);
    border-radius: 100%;
    background-color: var(--fdd551);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 30px 60px 0 rgba(37, 36, 34, 0.1);
    transition: background-color 0.3s;
    z-index: 30;
    svg {
        fill: var(--252422);
        transition: fill 0.3s;
        transform: rotate(-180deg);
        margin: 0px 2px 0px 0px;
    }
    &:hover {
        background-color: var(--52c373);
        svg {
            fill: #fff;
        }
    }
    @media (max-width: 1400px) {
        position: relative;
        top: 0;
        transform: translate(0, 0);
        left: 0;
    }
    @media (max-width: 768px) {
        width: 65px;
        height: 65px;
    }
    @media (max-width: 480px) {
        width: 60px;
        height: 60px;
    }
}
.arrow-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translate(0px, -50%);
    border-radius: 100%;
    background-color: var(--fdd551);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 30px 60px 0 rgba(37, 36, 34, 0.1);
    transition: background-color 0.3s;
    z-index: 30;
    svg {
        fill: var(--252422);
        transition: fill 0.3s;
        margin: 0px 0px 0px 2px;
    }
    &:hover {
        background-color: var(--52c373);
        svg {
            fill: #fff;
        }
    }
    @media (max-width: 1400px) {
        position: relative;
        top: 0;
        transform: translate(0, 0);
        left: 0;
    }
    @media (max-width: 768px) {
        width: 65px;
        height: 65px;
    }
    @media (max-width: 480px) {
        width: 60px;
        height: 60px;
    }
}

.swiper-pagination-lock {
    display: none;
}
.swiper-button-lock {
    display: none;
}
.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
}
