:root {
  --container-width: 1326px;
  --container-padding: 30px;
  --f5f7e9: #f5f7e9;
  --52c373: #52c373;
  --fdd551: #fdd551;
  --252422: #252422;
  --ffffff: #fff;
  --efebe8: #efebe8;
  --298443: #298443;
  --9d9d9d: #9d9d9d;
  --bg: #fffcf9;

  --font-family: "Muller", sans-serif;
  --second-family: "Oswald", sans-serif;
}
